.design-development{
  padding-top: 80px;
  background-color: #F7F7FA;
  border-bottom: 1px solid #E7DAED;
  border-top: 1px solid #E7DAED;
  margin-top: 100px;
  padding-bottom: 80px;
  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }
}


.development-content{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 100px;
  gap: 40px;
  padding-inline: 100px;
  





  .development-card{
    display: flex;
    background-color: #FAFAFA;
    border: 1px solid #E7DAED;
    padding: 40px;
    gap: 20px;

    .title-text{
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1{
        font-size: 20px;
        font-weight: 600;
        color: #1A202C;
      }

      p{
       font-size: 14px;
       line-height: 25px;
       font-weight: 400;
       color: #4A5568;
      }
    }
  }

  .dev-img {
    &.img-0 {
      img {
        background-image: linear-gradient(to top, #29272E, #27272E); 
        border-radius: 10px;
        padding: 10px;
      }
    }
  
    &.img-1 {
      img {
        background-image: linear-gradient(to top, #FF92AE, #FF3D9A); 
        border-radius: 10px;
        padding: 10px;
      }
    }
  
    &.img-2 {
      img {
        background-image: linear-gradient(to top, #FFEF5E, #F7936F); 
        border-radius: 10px;
        padding: 10px;
      }
    }
  
    &.img-3 {
      img {
        background-image: linear-gradient(to top, #68DBF2, #509CF5); 
        border-radius: 10px;
        padding: 10px; 
      }
    }
  
    &.img-4 {
      img {
        background-image: linear-gradient(to top, #67E9F1, #24E795); 
        border-radius: 10px;
        padding: 10px; 
      }
    }

    &.img-5 {
      img {
        background-image: linear-gradient(to bottom, #F76680, #57007B); 
        border-radius: 10px;
        padding: 10px; 
      }
    }
  }

}

@media (max-width: 1000px) {
  .development-content{
    padding-inline: 20px;
    gap: 20px;
  
    .development-card{
      padding: 20px;
    }
  }
  
}

@media (max-width: 745px) {
  .development-content{
    grid-template-columns: 1fr;
    padding-top: 70px;
   }

   .design-development{
    .line-header{
      gap: 9px;

      h1{
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 490px) {
  .design-development{
    .line-header{
      h1{
        font-size: 25px;
      }
    }
   }

   .development-content{
    .development-card{
      padding: 10px;
      padding-top: 20px;
      .title-text{
        h1{
          font-size: 18px;
        }
      }
    }
   }

 
}
@media (max-width: 480px) {
  .development-content{
    padding-inline: 0px;
   }

 
}