 .html{
  width: 100%;
 }
 
 .hero-section{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 padding-top: 180px;



   .hero-text{
   display: flex;
   flex-direction: column;
   gap: 40px;
   

   h1{
    font-size: 45px;
    color: #1A202C;
    font-weight: 300;
    span{
      background-image: linear-gradient(to right, #DE4396, #0D1C9F); /* Adjust colors and direction as needed */
      -webkit-background-clip: text; /* Apply background to the text */
      background-clip: text; /* Apply background to the text */
      color: transparent; 
      font-weight: bold;
    }
   }
 }

 h2{
 font-size: 53px;
 font-weight: bolder;
 line-height: 80px;
 span{
  background-image: linear-gradient(to top, #F7666F, #406AFF); /* Adjust colors and direction as needed */
  -webkit-background-clip: text; /* Apply background to the text */
  background-clip: text; /* Apply background to the text */
  color: transparent; 
  
 }
 }

 p{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #4A5568;
 }

 a{
  padding: 12px;
  padding-block: 15px;
  border: 1px solid;
  width: 140px;
  text-decoration: none;
  background-color: #DFFC5C;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  
  
 }
}

.ball {
  position: absolute;
  transform: translateY(25px);
  left: 35%;
  z-index: -1; /* Move the ball behind other elements */
}

.services {
  background-color: #F9F9FF;
  // background-color: pink;
  position: relative; /* Ensure the services container has a position */
  top: 65px;
  min-height: 500px;
  padding-top: 70px;
  //padding-bottom: 20px;
  border-top: 1px solid #E7DAED;
  border-bottom: 1px solid #E7DAED;
  width: 100%;
  overflow: hidden;

  .services-header{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #1A202C;
  }

  .text-card{
    background-color: #FAFAFA;
   // border: 1px solid;
    padding: 10px;
  
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   h1{
    font-size: 20px;
    padding-block: 20px;
    color: #2D3748;
   }

   p{
    font-size: 14px;
    line-height: 23px;
    color: #718096;
   }
  }
}

.components{
  padding-top: 60px;
  padding-bottom: 40px;
 
 

}

.slick-slide > div{
  margin: 0 20px;
 
  
}
.slick-prev {
background-color: pink;
}






.ball2 {
  position: absolute;
  transform: translateY(30px);
  left: 8%;
  z-index: -1; /* Move the ball behind other elements */
}

.text-vid{
 display: flex;
 padding-top: 250px;
 padding-inline: 120px;
 gap: 100px;
 align-items: start;

 .trust-us{
  display: flex;
  flex-direction: column;
  gap: 40px;
 


}


  

.line-header{
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 54px;

    span{
      font-weight: bold;
    }
  }

 
}

p{
  color: #718096;
  font-size: 18px;
  line-height: 35px;

  span{
    background-image: linear-gradient(to top, #F76680, #57007B); /* Adjust colors and direction as needed */
      -webkit-background-clip: text; /* Apply background to the text */
      background-clip: text; /* Apply background to the text */
      color: transparent; 
     
  }
}

.see-more{
  display: flex;
  align-items: flex-start;
  gap: 10px;

  h5{
    font-size: 16px;
    font-weight: 500;
    color: #57007B;
  }
}
}

.meet-the-people{
  padding-top: 180px;
  padding-inline: 120px;
  .line-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    h1{
      font-size: 35px;
      font-weight: 400;
      line-height: 54px;
  
      span{
        font-weight: bold;
      }
    }
  }

  .ball3 {
    position: absolute;
    transform: translateY(20px);
    left: 57%;
    z-index: -1; /* Move the ball behind other elements */
  }
.arrows{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding-top: 35px;

  .btn-right{
   background-color: #57007B;
   padding: 15px;
   border-radius: 50%;
   
  
  }
}

}
.people{
   display: flex;
   gap: 50px;
   background-color: #F9F9FF;
   position: relative; 
   top: 28px;
  // min-height: 120px;
   width: 100%;
   padding-block: 50px;
   border-top: 1px solid #E7DAED;
   border-bottom: 1px solid #E7DAED;
 }

 .projects{
  padding-top: 80px;
  background-color: #F7F7FA;
  border-bottom: 1px solid #E7DAED;
  border-top: 1px solid #E7DAED;
  margin-top: 140px;

  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }

  .text-only{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-inline: 20px;
    padding-top: 50px;

    h1{
     font-size: 28px;
     font-weight: 600;
     color: #2D3748;
    }

    p{
     line-height: 30px;
     color: #4A5568;
     font-size: 14px;
    }

    .read-more{
     display: flex;
     justify-content: flex-end;
     padding-top: 50px;
     
     
     a{
       text-decoration: none;
       font-size: 14px;
       font-weight: 600;
       background-image: linear-gradient(to left, #F76680, #57007B); /* Adjust colors and direction as needed */
     -webkit-background-clip: text; /* Apply background to the text */
     background-clip: text; /* Apply background to the text */
     color: transparent;
     }

     img{
       padding: 2px;
       padding-left: 8px;
     }
    }
   }

  .projects-text{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .project-card{
      display: flex;
      gap: 50px;
      background-color: #F1F2FF;
      border: 1px solid #E7DAED;
      border-radius: 30px;
    }

    .see-more{
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;
    }
    a{
      font-size: 20px;
      background-image: linear-gradient(to left, #F76680, #57007B); /* Adjust colors and direction as needed */
      -webkit-background-clip: text; /* Apply background to the text */
      background-clip: text; /* Apply background to the text */
      color: transparent;
      font-weight: 600;
    }

    .see-more-img{
      padding-left: 12px;
    }
  }

  .project-card2{
    display: flex;
    gap: 50px;
    background-color: #F0FFF7;
    border: 1px solid #E7DAED;
    border-radius: 30px;
 }

 .project-card3{
  display: flex;
  gap: 50px;
  background-color: #FFF4F4;
  border: 1px solid #E7DAED;
  border-radius: 30px;
}
 }

 .small-ball{
 padding-left: 25%;
 }
.team{
  padding-top: 100px;
  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }
 .team-text{
  display: flex;
  padding-inline: 100px;
  align-items: center;
  gap: 90px;
  padding-top: 100px;

  .team-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
   h1{
    font-size: 28px;
    font-weight: 600;
   }
   p{
    color: #2D3748;
    font-size: 18px;
    line-height: 30px;

    span{
      background-image: linear-gradient(to bottom, #F76680, #57007B); /* Adjust colors and direction as needed */
      -webkit-background-clip: text; /* Apply background to the text */
      background-clip: text; /* Apply background to the text */
      color: transparent;
    }
   }
    .quote{
      display: flex;
      align-items: center;
      gap: 20px;

      h5{
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        background-image: linear-gradient(to top, #F76680, #57007B); /* Adjust colors and direction as needed */
        -webkit-background-clip: text; /* Apply background to the text */
        background-clip: text; /* Apply background to the text */
        color: transparent;
        line-height: 30px;
      }
    }
  }

  .ceo-text{
    display: flex;
    gap: 10px;
    

    h6{
      font-size: 16px;
      color: #1A202C;
      font-weight: 430;
    }

    h3{
      font-size: 13px;
      color: #718096;
      font-weight: 400;
      padding-top: 5px;
    }
   
  }
 }

}

.tech-stack{
  border-bottom: 1px solid #E7DAED;
 
  padding-block: 70px;
  
  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }
  .tech1{
   display: flex;
   gap: 90px;
  }

  .tech2{
    display: flex;
    gap: 90px;
  }
  .tech-text{
    display: flex;
    gap: 90px;
    justify-content: center;
    padding-top: 50px;

    h5{
      font-size: 18px;
      font-weight: 400;
      color: #1A202C;
    }
  }
 .tech-first{
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;

  h5{
    background-image: linear-gradient(to bottom, #F76680, #57007B); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    font-weight: 600;
  }
 }
  .tech-img{
    display: flex;
    justify-content: center;
    padding-top: 90px;
  }
 }

 .how-works{
  padding-top: 60px;
  

  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }
  .how-img{
    display: flex;
    justify-content: center;
   padding-top: 40px;
  }
  .how-works-content{
    display: flex;
    
    align-items: center;
    padding-inline: 60px;
    padding-top: 60px;
    gap: 80px;
   

    
  }

  .how-text{
    border: 1px solid #E7DAED;
    padding: 40px;
    padding-block: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1{
      font-size: 18px;
      font-weight: bold;

      span{
        background-image: linear-gradient(to bottom, #F76680, #57007B); 
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent;
        padding-right: 6px;
      }
    }

    p{
      font-size: 14px;
      color: #718096;
      line-height: 20px;
    }
  }

  .how-works-content2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 60px;
    padding-top: 20px;
    gap: 60px;
    margin-left: 50px;
  }

  
 }

 .features{
  padding-top: 90px;
 
  .line-header{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 16px;

   h1{
    font-size: 35px;
    font-weight: 400;
   }

   .second-header{
    font-weight: bold;
   }
  }
 }
 @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


 .slider-image{
  display: flex;
  gap: 60px;
  padding-top: 75px;
  

  .img-readmore{
    display: flex;
    flex-direction: column;
    gap: 20px;
   



    button{
      border: none;
      color: #57007B;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      

    
     
    }

    .feature-button{
      display: flex;
      gap: 10px;
      padding-top: 5px;
      justify-content: center;
    }
  }
 }

 .slider-image{
  
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
   
  
 }


.img-readmore {
  display: inline-block;
  animation: 35s slide infinite linear;
}

 .hire{
  display: flex;
  justify-content: center;
  padding-top: 150px;
 

  .hire-content{
    display: flex;
    gap: 300px;
   align-items: center;
   background-image: linear-gradient(to top, #E4ECF7, #F1F1F5);
    padding-block: 50px;
    padding-inline: 100px;

   
   
    border-radius: 20px;

    h1{
      font-size: 35px;
      font-weight: bold;
      line-height: 50px;
    }

    .img-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      button{
        background-image: linear-gradient(to right, #F16063, #FFC656);
        border: none;
        padding: 18px;
        padding-inline: 45px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        color: #FAFAFA;
      }
    }
  }
 }


 @media (max-width:1280px) {
   .responsive{
    width: 500px;
   }

   .text-vid{
    gap: 50px;
    align-items: center;
    padding-inline: 80px;
   }

   .hire{
    .hire-content{
      gap: 200px;
      width: 100%;
    }
   }
 }
@media (max-width: 1230px) {
  .hero-section{
    padding-inline: 60px;
    h2{
      line-height: 60px;
    }

    p{
      br{
        display: none;
      }
    }
    .hero-text{
      gap: 10px;
    }
  }

  .projects{
    .text-only{
      .read-more{
        padding-bottom: 40px;
        padding-top: 0px;
      }
    }

    .tech-stack{
      .tech-img{
        img{
          width: 100%;
        }
      }
    }
   .projects-text{
    .project-card{
      gap: 0px;
      
    }
   }
  .project-card2{
    gap: 0px;
    
  }
  .project-card3{
    gap: 0px;
    
  }


 
   
      
    
  }
  .card-img{
   
   
    img{
     width: 500px;
    
    }
  }

  .how-works{
    .how-img{
      img{
        width: 100%;
      }
    }
  }
.team{
  .team-text{
    gap: 30px;
  }
}

.team-img{
  img{
    width: 500px;
  }
}

}

@media (max-width: 1156px) {
  .hire{
    .hire-content{
      gap: 100px;
      h1{
        br{
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1085px) {
  .hero-section{
    padding-inline: 30px;
   
  }
  
}

@media (max-width: 1060px) {
  .tech-stack{
    .tech-img{
      img{
        scale: 0.9;
      }
    }
  }
}

@media (max-width:1050px) {
  .slider-image{
   width: 100%;

  }
}
 @media (max-width:1050px) {
  .responsive{
   width: 400px;

  }
  
  

  .text-vid{
   gap: 50px;
   align-items: center;
   padding-inline: 60px;
  }
}

@media (max-width: 1025px) {
  .hero-section{
    img{
      width: 500px;
    }
  }
  
  
  
}

@media (max-width: 1000px) {


  .projects {
    .projects-text{
      padding: 0px;

      padding-top: 80px;
      padding-bottom: 60px;
    }
  }

  .team-img{ 
    img {
    width: 400px;
    height: 340px;
   
}
  }

  .team{
    .team-text{
      padding-inline: 40px;
      align-items: start;

      .team-content{
        gap: 10px;
        p{
          font-size: 16px;
        }

        h1{
          font-size: 25px;
        }

        .quote{
          h5{
            font-size: 14px;
          }
        }
      }

      .ceo-text{
        h6{
          font-size: 14px;
        }
        h3{
          font-size: 11px;
        }
      }
    }
  }


 
  .how-works {

    .how-text{
      padding: 10px;
      padding-top: 20px;
    }
    .how-works-content2 {
      padding-inline: 30px;
      gap: 30px;
  }

  .how-works-content {
    padding-inline: 40px;
    gap: 30px;
}
}


.tech-stack{
  padding-bottom: 40px;

  .tech1{
    gap: 50px;
  }
  .tech2{
    gap: 50px;
  }
  .tech-text{
    gap: 50px;
  }

  .tech-img{
    scale: 0.8;
    padding-top: 50px;
  }
}

.hire{
  .hire-content{
    gap: 50px;
    padding-inline: 30px;
    padding-block: 30px;
    

    h1{
      text-align: center;
      padding-top: 40px;
    }

    .img-button{
      padding-top: 20px;
      scale: 0.8;
    }
  }
}

.text-vid{
  gap: 25px;
  padding-inline: 30px;

  .trust-us{
    gap: 20px;
  }
}
}

@media (max-width:910px) {
  .hero-section{
    h2{
      font-size: 48px;
    }

    img{
      width: 450px;
    }
    .hero-text{
      h1{
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 850px) {
  .projects {
    .project-card2{
      display: block;
    }
    .project-card3{
      display: block;
    }
    .projects-text {
    .project-card{
      display: block;
    }
  }
}

.card-img{
  img{
    width: 100%;
  }
}
}

@media (max-width:820px) {
  .hero-section{
    padding-top: 160px;
    h2{
      font-size: 40px;
      line-height: 50px;
    }
    P{
      font-size: 16px;
    }
    a{
      margin-top: 10px;
    }

    img{
      width: 450px;
    }
    .hero-text{
      h1{
        font-size: 30px;
      }
    }
  }

  .services{
    .services-header{
      font-size: 30px;
    }
  }

  .text-vid{
    .line-header{
      h1{
        font-size: 30px;
       line-height: 45px;
      
      }
    }
  }

 .projects{
  margin-top: 50px;
 }
}

@media (max-width: 780px) {
  .tech-stack{
    .tech-img{
      padding-top: 30px;
      img{
        scale: 0.8;
      }
    }
  }

  .responsive{
    width: 350px;
  }

}

@media (max-width: 745px) {
 .hero-section{
  padding-top: 180px;
  flex-direction: column;
  img{
    width: 400px;
  }
  .hero-text{
    align-items: center;
    text-align: center;
  }

  p{
    br{
      display: block;
    }
  }
 }

 .ball{
  transform: translateY(40px);
  left: 20%;
 }

 .text-vid{
  display: block;
  padding-inline: 10px;
 }
 .responsive{
  width: 100%;


  padding-top: 30px;
 }

 .meet-the-people{
  padding-inline: 20px;
 }

 .team{
  .team-text{
    display: block;
  }
 }

 .team-img{
  img{
    width: 100%;
    height: 450px;
  }
 }

 .tech-stack{
  padding-bottom: 20px;
  .tech-text{
    gap: 25px;
  }

  .tech1{
    gap: 25px;
  }
  .tech1{
    gap: 25px;
  }

  .tech-img{
    padding-top: 10px;
    img{
      scale: 0.7;
    }
  }
 }
 .hire{
  .hire-content{
    padding-inline: 10px;
  }
 }

 .footer-text{
  flex-direction: column;
  
 }
 .slick-slide > div{
  margin: 0 10px;
 
  
}

.meet-the-people{
  .line-header{
    h1{
      font-size: 30px;
      line-height: 45px;
    }
  }
}

.projects{
  .line-header{
    gap: 10px;
    h1{
      font-size: 30px;
    }
  }
}

.team{
  .line-header{
    gap: 10px;
    h1{
      font-size: 30px;
    }
  }

  .team-text{
    padding-top: 80px;
  }
}
.tech-stack{
  .line-header{
    gap: 9px;
    h1{
      font-size: 30px;
    }
  }

  .tech-text{
    h5{
      font-size: 16px;
    }
  }
}

.how-works{
  .line-header{
    gap: 9px;
    h1{
      font-size: 30px;
    }
  }
}
.how-works-content{
  flex-direction: column;
}
.how-works-content2{
  flex-direction: column;
}

.features{
  .line-header{
    gap: 9px;

    h1{
      font-size: 30px;
    }
  }
}

.slider-image{
  padding-top: 50px;
  gap: 30px;
}

.hire{
  padding-top: 100px;

  .hire-content{
    padding-inline: 0px;
    display: block;
    padding-block: 0px;
  }
}
}

@media (max-width: 660px) {
     .slider-image{
      gap: 20px;

      .img-readmore{
        p{
          font-size: 14px;
        }
      }
     }
     .slide-image{
        width: 200px;
      }

      .tech-stack{
        .tech-text{
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .tech-img{
         img{
          width: 900px;
          scale: 0.6;
         }
        }
       
      }
    }

    @media (max-width: 545px) {
     .team{
      .team-text{
        padding-inline: 10px;
      }
     }

     .development-content{
      padding-inline: 10px;
     }

   

     .how-works{
      .how-works-content2{
        margin-left: 20px;
      }
     }

     .carousel_arrow_right{
      display: none;
     }
     .carousel_arrow_left{
      display: none;
     }
    }

    @media (max-width: 525px) {
      .hero-section{
        p{
          br{
            display: none;
          }
        }
      }
    }

@media (max-width: 490px) {
  .projects{
    margin-top: 10px;
    .text-only{
      h1{
        font-size: 23px;
      }
    }
  }
  .tech-stack{
    .line-header{
     
      h1{
        font-size: 25px;
      }
    }
    .tech-text{
      gap: 15px;
      h5{
        font-size: 13px;
      }
    }

    .tech1{
      gap: 15px;
    }
    .tech1{
      gap: 15px;
    }

    .tech-img{
      padding-top: 0px;
    }
  }
  .how-works{
    .line-header{
      h1{
        font-size: 25px;
      }
    }
  }

  .text-vid{
    .see-more{
      align-items: center;
      gap: 5px;
      h5{
        font-size: 14px;
      }
    }
    p{
      font-size: 16px;
    }
    .line-header{
      h1{
        font-size: 25px;
        line-height: 40px;
      }
    }
  }

  .meet-the-people{
    padding-top: 100px;
    .line-header{
      h1{
        font-size: 25px;
        line-height: 40px;
      }
    }
  }
  .team{
    .team-text{
      padding-top: 60px;
      .team-content{
        h1{
          font-size: 23px;
        }
      }
    }
    .line-header{
      h1{
        font-size: 25px;

      }
    }
  }
  
.services{
  .services-header{
    font-size: 25px;
  }
}

.components{
  padding-top: 30px;
}
.features{
  .line-header{
    h1{
      font-size: 25px;
    }
  }
}

.hire{
  .hire-content{
    h1{
      font-size: 30px;
      line-height: 40px;
    }
    .img-button{
      scale: 0.7;
      padding-top: 10px;
    }
  }
}
}


@media (max-width: 480px) {
  .services{
    .text-card{
      padding: 30px;
    }
  }

  .team-img{
    img{
      height: 380px;
    }
  }

  .how-works{
    .how-works-content{
      padding-inline: 10px;
    }

    .how-works-content2{
      padding-inline: 10px;
    }
  }
}

@media (max-width: 440px) {
  .tech-stack{
    .tech-img{
      img{
        scale: 0.5;
      }
    }
  }
}

@media (max-width: 450px) {
 .hero-section{
  padding-inline: 10px;
 }
}

@media (max-width: 425px) {
  .hero-section{
    h2{
      font-size: 35px;
    }
   .hero-text{
    h1{
      font-size: 30px;

    }
   }
  }
 }
@media (max-width: 425px) {
  .hero-section{
    img{
      width: 350px;
    }
  }

  .team-img{
    img{
      height: 300px;
    }
  }

  .how-works{
    .how-works-content2{
      margin-left: 0px;
    }
  }
}

@media (max-width: 390px) {
  .how-text{
    .line-header{
      h1{
        font-size: 23px;
      }
    }
  }
}
  


 