@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos-slide{
 
  background-color: #F9F9FF;
  position: relative; 
  padding-block: 50px;
  border-top: 1px solid #E7DAED;
  border-bottom: 1px solid #E7DAED;
  margin-top: 20px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}



.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* 
@media (max-width: 660px) {
  .logos-slide{
   
  }
} */